<section class='destinations-chooser grid-container'>
  <img
    class='destination-img'
    src='./assets/destination/image-moon.png'
    alt=''
  />
  <div class='destination-text'>
    <ul class='underline-indicators flex text-accent destination-nav-tab'>
      <li class='active'>Moon</li>
      <li>Mars</li>
      <li>Europa</li>
      <li>Titan</li>
    </ul>
    <h1 class='ff-serif fs-900 text-white uppercase'>Moon</h1>
    <p>See our planet as you’ve never seen it before. A perfect relaxing trip
      away to help regain perspective and come back refreshed. While you’re
      there, take in some history by visiting the Luna 2 and Apollo 11 landing
      sites.</p>

    <div class='destination-info grid'>
      <div class='destination-distance'>

        <h2 class='fs-400 ff-sans-cond uppercase text-accent'>Avg. Distance</h2>
        <p class='fs-700 ff-serif uppercase'>384,400 KM</p>
      </div>

      <div class='destination-travel-duration'>
        <h2 class='fs-400 ff-sans-cond uppercase text-accent'>Est. travel time</h2>
        <p class='fs-700 ff-serif uppercase'>3 Days</p>
      </div>
    </div>
  </div>

</section>