<section class='grid-container destination-chooser'>
  <div class='destination-image'>
    <img src='./assets/destination/image-moon.png' alt='M' />
  </div>

  <div class='grid destination-info'>
    <ul class='fs-200 flex uppercase underline-indicators destination-nav'>
      {{!-- <li><a href='#'>{{@model}}</a></li>
      <li><a href='#'>Mars</a></li>
      <li><a href='#'>Europa</a></li>
      <li><a href='#'>Titan</a></li> --}}
      {{#each @model as |destination|}}
        <li>
          {{! <LinkTo> }}
          {{destination.name}}
          {{! </LinkTo> }}
        </li>
      {{/each}}
    </ul>

    {{! <h1 class='ff-serif fs-800 destination-title uppercase'>
      MOON
    </h1>
    <p class='fs-400 destination-description'>See our planet as you’ve never
      seen it before. A perfect relaxing trip away to help regain perspective
      and come back refreshed. While you’re there, take in some history by
      visiting the Luna 2 and Apollo 11 landing sites.</p>

    <div class='grid destination-meta'>
      <div class='flex destination-distance'>
        <h4 class='fs-200 ff-sans-cond text-accent uppercase'>Avg. Distance</h4>
        <p class='fs-500 ff-serif uppercase'>384,400 Km</p>
      </div>
      <div class='flex destination-time'>
        <h4 class='fs-200 ff-sans-cond text-accent uppercase'>Est. Travel Time</h4>
        <p class='fs-500 ff-serif uppercase'>3 Days</p>
      </div>
    </div> }}

    {{#each @model as |destination|}}
      <div>{{destination.description}}</div>
    {{/each}}
  </div>

</section>