<a class='skip-to-content sr-only' href='#main'>Skip to content</a>
<header class='primary-header flex'>
  <div>
    <img src='./assets/shared/logo.svg' alt='space tourism logo' class='logo' />
  </div>
  <PrimaryNav />
</header>
{{outlet}}