{{page-title 'Crew'}}
<div class='container'>
  <h1 class='page-header ff-sans-cond text-white uppercase letter-spacing-2'>
    <span>02</span>Meet Your Crew
  </h1>
  <CrewCarousel @model={{@model}} />
</div>