{{page-title 'Destination'}}

<main id='main' class='grid-container grid-container--destination flow'>

  <h1 class='numbered-title'>
    <span aria-hidden='true'>01</span>Pick your destination
  </h1>

  <Destinations @model={{@model}} />
</main>