{{page-title 'Destination'}}

<main class='container'>

  <h1 class='page-header ff-sans-cond text-white uppercase letter-spacing-2'>
    <span>01</span>Pick your destination
  </h1>

  <Destinations />
</main>