{{page-title 'Technology'}}
<main id='main' class='grid-container grid-container--technology flow'>
  <h1 class='numbered-title'>
    <span aria-hidden='true'>03</span>Space Launch 101
  </h1>

  <Technologies @model={{@model}} />

</main>